{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".js", ".jsx"] }
    ],
    "react/forbid-prop-types": [
      2, {
        "forbid": ["any"]
      }
    ],
    "react/require-default-props": 0,
    "global-require": 0
  },
  "globals": {
    "window": false
  }
}
